<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="learncode.open.com.learncode">
    <!-- 网络请求权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 文件读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.open.learncode.android.intentService.IntentServiceActivity"></activity>
        <activity
            android:name="com.open.learncode.MainActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.open.learncode.android.launchmode.LuanchAActivity"
            android:launchMode="standard" />
        <activity
            android:name="com.open.learncode.android.launchmode.LuanchBActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.open.learncode.android.launchmode.LuanchCActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.open.learncode.android.launchmode.LuanchDActivity"
            android:launchMode="singleInstance" />
        <activity android:name="com.open.learncode.android.协程.CoroutineActivity" />
        <activity android:name="com.open.learncode.开源框架.okhttp3.OkHttpActivity" />
        <activity android:name="com.open.learncode.开源框架.retrofit2.Retrofit2Activity" />
        <activity android:name="com.open.learncode.android.handler.HandlerActivity_2" />
        <activity android:name="com.open.learncode.android.handler.HandlerActivity_3" />
        <activity android:name="com.open.learncode.android.handler.HandlerActivity_4" />
        <activity android:name="com.open.learncode.android.handlerThread.HandlerThreadActivity_1" />
        <activity android:name="com.open.learncode.android.handlerThread.HandlerThreadActivity_2" />
        <activity android:name="com.open.learncode.android.生命周期.LifeCycleActivity" />
        <activity android:name="com.open.learncode.android.动画.AnimationActivity" />
        <activity android:name="com.open.learncode.开源框架.mvp.DaggerActivity" />
        <activity android:name="com.open.learncode.开源框架.rxjava2.RxJavaActivity" />
        <activity android:name="com.open.learncode.android.threadpoolexecutor.CachedThreadPoolActivity" />
        <activity android:name="com.open.learncode.android.三级缓存.ImageCacheActivity" />
        <service android:name="com.open.learncode.android.intentService.DownloadIntentService"/>
    </application>

</manifest>